<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SwpcDxdConvert.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SwpcDxdConvert.Properties.Settings>
            <setting name="RepositoryFile" serializeAs="String">
                <value>repository\geosolar.h5</value>
            </setting>
            <setting name="RfInstrumentPath" serializeAs="String">
                <value>/swpc/Rf</value>
            </setting>
            <setting name="Hdf5CorkTheCache" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Hdf5MaxReadBufferBytes" serializeAs="String">
                <value>1048576</value>
            </setting>
            <setting name="SescSsnInstrumentPath" serializeAs="String">
                <value>/swpc/SescSsn</value>
            </setting>
            <setting name="SsaInstrumentPath" serializeAs="String">
                <value>/swpc/Ssa</value>
            </setting>
            <setting name="XfInstrumentPath" serializeAs="String">
                <value>/swpc/Xf</value>
            </setting>
            <setting name="ApInstrumentPath" serializeAs="String">
                <value>/swpc/Ap</value>
            </setting>
            <setting name="KpInstrumentPath" serializeAs="String">
                <value>/swpc/Kp</value>
            </setting>
            <setting name="Pf1InstrumentPath" serializeAs="String">
                <value>/swpc/Pf1</value>
            </setting>
            <setting name="Pf10InstrumentPath" serializeAs="String">
                <value>/swpc/Pf10</value>
            </setting>
            <setting name="Pf100InstrumentPath" serializeAs="String">
                <value>/swpc/Pf100</value>
            </setting>
            <setting name="Ef8InstrumentPath" serializeAs="String">
                <value>/swpc/Ef8</value>
            </setting>
            <setting name="Ef20InstrumentPath" serializeAs="String">
                <value>/swpc/Ef20</value>
            </setting>
            <setting name="NcInstrumentPath" serializeAs="String">
                <value>/swpc/Nc</value>
            </setting>
            <setting name="NmInstrumentPath" serializeAs="String">
                <value>/swpc/Nm</value>
            </setting>
            <setting name="NxInstrumentPath" serializeAs="String">
                <value>/swpc/Nx</value>
            </setting>
        </SwpcDxdConvert.Properties.Settings>
    </applicationSettings>
    <system.diagnostics>
        <trace autoflush="true" indentsize="0">
            <listeners>
                <!-- traceOutputOptions="ProcessId, ThreadId, DateTime, Timestamp, LogicalOperationStack, Callstack" -->
                <add name="txtListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="SwpcDxdConvert.log">
                    <filter type="System.Diagnostics.EventTypeFilter" initializeData="Verbose"/>
                    <!-- Error, Warning, Information, Verbose -->
                </add>
            </listeners>
        </trace>
    </system.diagnostics>
    <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
