<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SwpcGoesConvert.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SwpcGoesConvert.Properties.Settings>
            <setting name="RepositoryFile" serializeAs="String">
                <value>repository\goes.h5</value>
            </setting>
            <setting name="XsInstrumentPath" serializeAs="String">
                <value>/swpc/goes/Xs</value>
            </setting>
            <setting name="Hdf5CorkTheCache" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Hdf5MaxReadBufferBytes" serializeAs="String">
                <value>1048576</value>
            </setting>
            <setting name="XlInstrumentPath" serializeAs="String">
                <value>/swpc/goes/Xl</value>
            </setting>
            <setting name="HpInstrumentPath" serializeAs="String">
                <value>/swpc/goes/Hp</value>
            </setting>
            <setting name="HeInstrumentPath" serializeAs="String">
                <value>/swpc/goes/He</value>
            </setting>
            <setting name="HnInstrumentPath" serializeAs="String">
                <value>/swpc/goes/Hn</value>
            </setting>
            <setting name="HtInstrumentPath" serializeAs="String">
                <value>/swpc/goes/Ht</value>
            </setting>
            <setting name="Ip1InstrumentPath" serializeAs="String">
                <value>/swpc/goes/Ip1</value>
            </setting>
            <setting name="Ip5InstrumentPath" serializeAs="String">
                <value>/swpc/goes/Ip5</value>
            </setting>
            <setting name="Ip10InstrumentPath" serializeAs="String">
                <value>/swpc/goes/Ip10</value>
            </setting>
            <setting name="Ip50InstrumentPath" serializeAs="String">
                <value>/swpc/goes/Ip50</value>
            </setting>
            <setting name="Ip100InstrumentPath" serializeAs="String">
                <value>/swpc/goes/Ip100</value>
            </setting>
            <setting name="Ie08InstrumentPath" serializeAs="String">
                <value>/swpc/goes/Ie08</value>
            </setting>
            <setting name="Ie20InstrumentPath" serializeAs="String">
                <value>/swpc/goes/Ie20</value>
            </setting>
        </SwpcGoesConvert.Properties.Settings>
    </applicationSettings>
    <system.diagnostics>
        <trace autoflush="true" indentsize="0">
            <listeners>
                <!-- traceOutputOptions="ProcessId, ThreadId, DateTime, Timestamp, LogicalOperationStack, Callstack" -->
                <add name="txtListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="SwpcGoesConvert.log">
                    <filter type="System.Diagnostics.EventTypeFilter" initializeData="Verbose"/>
                    <!-- Error, Warning, Information, Verbose -->
                </add>
            </listeners>
        </trace>
    </system.diagnostics>
    <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
