<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CmeFutureUpdate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CmeFutureUpdate.Properties.Settings>
            <setting name="DownloadRepositoryPath" serializeAs="String">
                <value>downloads\xcme</value>
            </setting>
            <setting name="DownloadOverwriteExisting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DownloadMinimalLength" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="DownloadRetries" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="UserAgent" serializeAs="String">
                <value>Mozilla/5.0 (Windows NT 6.1; WOW64; rv:20.0) Gecko/20100101 Firefox/20.0</value>
            </setting>
            <setting name="Hdf5CorkTheCache" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DownloadTimeout" serializeAs="String">
                <value>240000</value>
            </setting>
            <setting name="Hdf5MaxReadBufferBytes" serializeAs="String">
                <value>1048576</value>
            </setting>
            <setting name="RepositoryDirectory" serializeAs="String">
                <value>repository\xcme</value>
            </setting>
            <setting name="ExportToCsv" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WriteToH5" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IncludeTradesWithZeroVolume" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Hdf5UpdateDuplicateTicks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Hdf5VerboseAdd" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CatchGunzip" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SkipDownloadSeriesCodes" serializeAs="String">
                <value>ESM13;ESU13;ESZ13;ESH14;ESM14;ESU14;ESZ14;ESH15;ESU15;ESZ15;ESH16;ESM16</value>
            </setting>
            <!-- <value>ESM13;ESU14;ESZ13;ESH14;ESM14;ESU14</value>   -->
        </CmeFutureUpdate.Properties.Settings>
    </applicationSettings>
    <system.diagnostics>
        <trace autoflush="true" indentsize="0">
            <listeners>
                <!-- traceOutputOptions="ProcessId, ThreadId, DateTime, Timestamp, LogicalOperationStack, Callstack" -->
                <add name="txtListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="CmeFutureUpdate.log">
                    <filter type="System.Diagnostics.EventTypeFilter" initializeData="Verbose"/>
                    <!-- Error, Warning, Information, Verbose -->
                </add>
            </listeners>
        </trace>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
