<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="mbdt.EuronextDiscover.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <mbdt.EuronextDiscover.Properties.Settings>
            <setting name="DownloadTimeout" serializeAs="String">
                <value>180000</value>
            </setting>
            <setting name="DownloadRepositoryPath" serializeAs="String">
                <value>downloads\euronext\closingPrice</value>
            </setting>
            <setting name="DownloadOverwriteExisting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownloadMinimalLength" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MainEuronextIndexPath" serializeAs="String">
                <value>repository\euronext\euronext.xml</value>
            </setting>
            <setting name="OtherEuronextIndexPath" serializeAs="String">
                <value>repository\euronext\euronext_other.xml</value>
            </setting>
            <setting name="DownloadRetries" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MainEuronextMics" serializeAs="String">
                <value>ALXA;ALXB;ALXL;ALXP;ENXL;MLXB;TNLA;TNLB;XHFT;XLIS;XAMS;XBRU;XPAR;XMLI;XDUB;XESM;XMSM;XOSL;alxa;alxb;alxl;alxp;enxl;mlxb;tnla;tnlb;xhft;xlis;xams;xbru;xpar;xmli;xdub;xesm;xmsm;xosl</value>
            </setting>
        </mbdt.EuronextDiscover.Properties.Settings>
    </applicationSettings>
    <system.diagnostics>
        <trace autoflush="true" indentsize="0">
            <listeners>
                <!-- traceOutputOptions="ProcessId, ThreadId, DateTime, Timestamp, LogicalOperationStack, Callstack" -->
                <add name="txtListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="EuronextDiscover.log">
                    <filter type="System.Diagnostics.EventTypeFilter" initializeData="Verbose"/>
                    <!-- Error, Warning, Information, Verbose -->
                </add>
            </listeners>
        </trace>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
