<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="mbdt.EuronextAudit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <mbdt.EuronextAudit.Properties.Settings>
            <setting name="DownloadTimeout" serializeAs="String">
                <value>180000</value>
            </setting>
            <setting name="ApprovedIndexPath" serializeAs="String">
                <value>repository\euronext\securities.xml</value>
            </setting>
            <setting name="DiscoveredIndexPath" serializeAs="String">
                <value>repository\euronext\discovered\securities.xml</value>
            </setting>
            <setting name="DownloadRetries" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="PauseBeforeRetry" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="UserAgent" serializeAs="String">
                <value>Mozilla/5.0 (iPhone; CPU iPhone OS 13_5_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/13.1.1 Mobile/15E148 Safari/604.1</value>
            </setting>
        </mbdt.EuronextAudit.Properties.Settings>
    </applicationSettings>
    <system.diagnostics>
        <trace autoflush="true" indentsize="0">
            <listeners>
                <!-- traceOutputOptions="ProcessId, ThreadId, DateTime, Timestamp, LogicalOperationStack, Callstack" -->
                <add name="txtListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="EuronextAudit.log">
                    <filter type="System.Diagnostics.EventTypeFilter" initializeData="Verbose"/>
                    <!-- Error, Warning, Information, Verbose -->
                </add>
            </listeners>
        </trace>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
