<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Knip.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Knip.Properties.Settings>
            <setting name="Pos" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Len" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NaN1" serializeAs="String">
                <value>-999</value>
            </setting>
            <setting name="NaN2" serializeAs="String">
                <value>-9.99</value>
            </setting>
            <setting name="NaN3" serializeAs="String">
                <value>-99.9</value>
            </setting>
            <setting name="YearPos" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="YearLen" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="DoyPos" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="DoyLen" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="HourPos" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="HourLen" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MinutePos" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="MinuteLen" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SecondPos" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="SecondLen" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="OutputTicks" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DayPos" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="DayLen" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MonthPos" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="MonthLen" serializeAs="String">
                <value>2</value>
            </setting>
        </Knip.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
