<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="mbdt.NyseUpdate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <mbdt.NyseUpdate.Properties.Settings>
            <setting name="DownloadTimeoutMilliseconds" serializeAs="String">
                <value>180000</value>
            </setting>
            <setting name="DownloadOverwriteExisting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DownloadRetries" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="DownloadLastDate" serializeAs="String">
                <value>1899-01-01</value>
            </setting>
            <setting name="UserAgent" serializeAs="String">
                <value>Mozilla/5.0 (Windows NT 6.1; WOW64; rv:43.0) Gecko/20100101 Firefox/43.0</value>
            </setting>
            <setting name="DownloadLookabckDaysDay" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="DownloadLookbackDaysMinute" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="SessionId" serializeAs="String">
                <value>F1C7536DA11880FDA46F9C1FEF61C571</value>
            </setting>
            <setting name="DownloadDir" serializeAs="String">
                <value>downloads\nyse</value>
            </setting>
            <setting name="RepositoryPath" serializeAs="String">
                <value>repository\nyse</value>
            </setting>
            <setting name="ImportDownloadedData" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CorkTheCache" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Symbols" serializeAs="String">
                <value>30.10.,!DJI,DJI.h5,/XNYS_DJI_US2605661048/,hasvolume;30.10.,!DJITR,DJITR.h5,/XNYS_DJITR_US2605661048/,novolume;33.10.,!SPX,SPX.h5,/XNYS_SPX_US78378X1072/,hasvolume;41.10.,DMT,DMT.h5,/XNYS_DMT_XC0009694214/,novolume</value>
            </setting>
        </mbdt.NyseUpdate.Properties.Settings>
    </applicationSettings>
    <system.diagnostics>
        <trace autoflush="true" indentsize="0">
            <listeners>
                <!-- traceOutputOptions="ProcessId, ThreadId, DateTime, Timestamp, LogicalOperationStack, Callstack" -->
                <add name="txtListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="NyseUpdate.log">
                    <filter type="System.Diagnostics.EventTypeFilter" initializeData="Verbose"/>
                    <!-- Error, Warning, Information, Verbose -->
                </add>
            </listeners>
        </trace>
    </system.diagnostics>
<!-- value>2004/12/21</value -->
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="PCLStorage.Abstractions" publicKeyToken="286fe515a2c35b64" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.2.0" newVersion="1.0.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PCLStorage" publicKeyToken="286fe515a2c35b64" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.2.0" newVersion="1.0.2.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
