<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="mbdt.DukascopyFxUpdate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <mbdt.DukascopyFxUpdate.Properties.Settings>
            <setting name="DownloadTimeout" serializeAs="String">
                <value>180000</value>
            </setting>
            <setting name="RepositoryPath" serializeAs="String">
                <value>repository\dukascopy_fx</value>
            </setting>
            <setting name="DownloadDir" serializeAs="String">
                <value>downloads\dukascopy_fx</value>
            </setting>
            <setting name="DownloadOverwriteExisting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownloadRetries" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="DownloadPasses" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="DownloadLookbackDays" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="DownloadLookbackMonths" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WorkerThreadDelayMilliseconds" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="Symbols" serializeAs="String">
                <value>AUDNZD,AUDJPY,AUDUSD,CADJPY,CHFJPY,EURAUD,EURCAD,EURCHF,EURGBP,EURJPY,EURUSD,EURNOK,EURSEK,GBPCHF,GBPJPY,GBPUSD,NZDUSD,USDCAD,USDCHF,USDJPY,USDNOK,USDSEK</value>
            </setting>
            <setting name="StartDate" serializeAs="String">
                <value/>
            </setting>
            <setting name="UserAgent" serializeAs="String">
                <value>Mozilla/5.0 (Windows; U; Windows NT 6.1; en-US; rv:1.9.1.5) Gecko/20091106 Shiretoko/3.5.5</value>
            </setting>
            <setting name="ImportCandles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DebugTraceLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CorkTheCache" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlwaysCloseFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OldFormat" serializeAs="String">
                <value>False</value>
            </setting>
        </mbdt.DukascopyFxUpdate.Properties.Settings>
    </applicationSettings>
    <system.diagnostics>
        <trace autoflush="true" indentsize="0">
            <listeners>
                <!-- traceOutputOptions="ProcessId, ThreadId, DateTime, Timestamp, LogicalOperationStack, Callstack" -->
                <add name="txtListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="DukascopyFxUpdate.log">
                    <filter type="System.Diagnostics.EventTypeFilter" initializeData="Verbose"/>
                    <!-- Error, Warning, Information, Verbose -->
                </add>
            </listeners>
        </trace>
    </system.diagnostics>
<!-- value>2004/12/21</value -->
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
