<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="mbdt.EuronextIntradayUpdate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <mbdt.EuronextIntradayUpdate.Properties.Settings>
            <setting name="DownloadTimeout" serializeAs="String">
                <value>240000</value>
            </setting>
            <setting name="IntradayRepositoryPath" serializeAs="String">
                <value>repository\euronext</value>
            </setting>
            <setting name="IntradayDiscoveredRepositoryPath" serializeAs="String">
                <value>repository\euronext</value>
            </setting>
            <setting name="DownloadRepositoryPath" serializeAs="String">
                <value>downloads\euronext</value>
            </setting>
            <setting name="IntradayDownloadOverwriteExisting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IntradayDownloadMinimalLength" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ApprovedIndexPath" serializeAs="String">
                <value>repository\euronext\empty.xml</value>
            </setting>
            <setting name="DiscoveredIndexPath" serializeAs="String">
                <value>repository\euronext\euronext.xml</value>
            </setting>
            <setting name="NumberOfWorkerThreads" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="DownloadRetries" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DownloadPasses" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="DownloadMaximumLimitConsecutiveFails" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="WorkerThreadDelayMilliseconds" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="Hdf5MaxReadBufferBytes" serializeAs="String">
                <value>1048576</value>
            </setting>
            <setting name="Hdf5CorkTheCache" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Hdf5UpdateDuplicateTicks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CorrectBrokenTimestamps" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Hdf5VerboseAdd" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProhibitAdditionIfCorrectedTimestamps" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExcludeMics" serializeAs="String">
                <value>XETR,XLON,XMCE,XVTX,FRAA,XCSE,XSTO,XHEL,XMAD,XIST</value>
            </setting>
            <setting name="StartDateDaysBack" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="UserAgent" serializeAs="String">
                <value>Mozilla/5.0 (iPhone; CPU iPhone OS 13_5_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/13.1.1 Mobile/15E148 Safari/604.1</value>
            </setting>
        </mbdt.EuronextIntradayUpdate.Properties.Settings>
    </applicationSettings>
    <system.diagnostics>
        <trace autoflush="true" indentsize="0">
            <listeners>
                <!-- traceOutputOptions="ProcessId, ThreadId, DateTime, Timestamp, LogicalOperationStack, Callstack" -->
                <add name="txtListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="euronext-intraday.log">
                    <filter type="System.Diagnostics.EventTypeFilter" initializeData="Verbose"/>
                    <!-- Error, Warning, Information, Verbose -->
                </add>
            </listeners>
        </trace>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
