<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="mbdt.EuronextIntradayUpdate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <mbdt.EuronextIntradayUpdate.Properties.Settings>
            <setting name="DownloadRetries" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DownloadTimeout" serializeAs="String">
                <value>180000</value>
            </setting>
            <setting name="IntradayRepositoryPath" serializeAs="String">
                <value>repository\intraday</value>
            </setting>
            <setting name="IntradayDiscoveredRepositoryPath" serializeAs="String">
                <value>repository\intraday\euronext-discovered</value>
            </setting>
            <setting name="DownloadRepositoryPath" serializeAs="String">
                <value>downloads\euronext</value>
            </setting>
            <setting name="IntradayDownloadOverwriteExisting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IntradayDownloadMinimalLength" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ApprovedIndexPath" serializeAs="String">
                <value>repository\endofday\securities.xml</value>
            </setting>
            <setting name="DiscoveredIndexPath" serializeAs="String">
                <value>repository\endofday\euronext-discovered\securities.xml</value>
            </setting>
            <setting name="NumberOfWorkerThreads" serializeAs="String">
                <value>4</value>
            </setting>
        </mbdt.EuronextIntradayUpdate.Properties.Settings>
    </applicationSettings>
  <system.diagnostics>
    <trace autoflush="true" indentsize="0">
      <listeners>
        <!--
					Remove the default trace listener for better performance.
					The removal of the DefaultTraceListener from the Listeners collection alters the behavior of the Debug::Assert, Trace::Assert, Debug::Fail, and Trace::Fail methods. Calling an Assert or Fail method normally results in the display of a message box. However, the message box is not displayed if the DefaultTraceListener is not in the Listeners collection.
				-->
        <!-- remove name="Default"/ -->
        <!-- /clear -->
        <!--
					traceOutputOptions="ProcessId, ThreadId, DateTime, Timestamp, LogicalOperationStack, Callstack"
				-->
        <add name="txtListener"
     type="System.Diagnostics.TextWriterTraceListener"
     initializeData="euronext-intraday.log"
     >
          <filter type="System.Diagnostics.EventTypeFilter" initializeData="Warning"/>
          <!-- Error, Warning, Information, Verbose -->
        </add>
        <add name="txtListener1"
     type="System.Diagnostics.TextWriterTraceListener"
     initializeData="euronext-intraday-verbose.log"
     >
          <filter type="System.Diagnostics.EventTypeFilter" initializeData="Verbose"/>
        </add>
        <!-- add name="xmlListener" 
          type="System.Diagnostics.XmlWriterTraceListener" 
          initializeData="euronext-intraday-verbose.xml" 
					traceOutputOptions="DateTime, Timestamp">
					<filter type="System.Diagnostics.EventTypeFilter" initializeData="Verbose"/>
        </add -->
        <!-- add name="eventListener" 
					type="System.Diagnostics.EventSchemaTraceListener"
					initializeData="euronext-intraday-verbose-event.xml" 
					traceOutputOptions="ProcessId, DateTime, Timestamp"> 
					<filter type="System.Diagnostics.EventTypeFilter" initializeData="Verbose"/>
        </add -->
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>