<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SwpcGoesUpdate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SwpcGoesUpdate.Properties.Settings>
            <setting name="RepositoryFile" serializeAs="String">
                <value>repository\goes.h5</value>
            </setting>
            <setting name="XsInstrumentPath" serializeAs="String">
                <value>/swpc/goes/Xs</value>
            </setting>
            <setting name="UserAgent" serializeAs="String">
                <value>Mozilla/5.0 (Windows; U; Windows NT 6.1; en-US; rv:1.9.1.5) Gecko/20091106 Shiretoko/3.5.5</value>
            </setting>
            <setting name="Hdf5CorkTheCache" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Hdf5MaxReadBufferBytes" serializeAs="String">
                <value>1048576</value>
            </setting>
            <setting name="DownloadTimeout" serializeAs="String">
                <value>180000</value>
            </setting>
            <setting name="XlInstrumentPath" serializeAs="String">
                <value>/swpc/goes/Xl</value>
            </setting>
            <setting name="DaysBackX1m" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="DaysBackX5m" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="DownloadFolder" serializeAs="String">
                <value>downloads\swpc\goes\</value>
            </setting>
            <setting name="DownloadOnlyXs1m" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownloadOnlyXs5m" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownloadOnlyXl1m" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownloadOnlyXl5m" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HpInstrumentPath" serializeAs="String">
                <value>/swpc/goes/Hp</value>
            </setting>
            <setting name="HeInstrumentPath" serializeAs="String">
                <value>/swpc/goes/He</value>
            </setting>
            <setting name="HnInstrumentPath" serializeAs="String">
                <value>/swpc/goes/Hn</value>
            </setting>
            <setting name="HtInstrumentPath" serializeAs="String">
                <value>/swpc/goes/Ht</value>
            </setting>
            <setting name="DaysBackH1m" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="DownloadOnlyHp1m" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownloadOnlyHe1m" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownloadOnlyHn1m" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownloadOnlyHt1m" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Ip1InstrumentPath" serializeAs="String">
                <value>/swpc/goes/Ip1</value>
            </setting>
            <setting name="Ip5InstrumentPath" serializeAs="String">
                <value>/swpc/goes/Ip5</value>
            </setting>
            <setting name="Ip10InstrumentPath" serializeAs="String">
                <value>/swpc/goes/Ip10</value>
            </setting>
            <setting name="Ip50InstrumentPath" serializeAs="String">
                <value>/swpc/goes/Ip50</value>
            </setting>
            <setting name="Ip100InstrumentPath" serializeAs="String">
                <value>/swpc/goes/Ip100</value>
            </setting>
            <setting name="Ie08InstrumentPath" serializeAs="String">
                <value>/swpc/goes/Ie08</value>
            </setting>
            <setting name="Ie20InstrumentPath" serializeAs="String">
                <value>/swpc/goes/Ie20</value>
            </setting>
            <setting name="DownloadOnlyIp1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownloadOnlyIp5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownloadOnlyIp10" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownloadOnlyIp50" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownloadOnlyIp100" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownloadOnlyIe08" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownloadOnlyIe20" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DaysBackIp" serializeAs="String">
                <value>5</value>
            </setting>
        </SwpcGoesUpdate.Properties.Settings>
    </applicationSettings>
    <system.diagnostics>
        <trace autoflush="true" indentsize="0">
            <listeners>
                <!-- traceOutputOptions="ProcessId, ThreadId, DateTime, Timestamp, LogicalOperationStack, Callstack" -->
                <add name="txtListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="SwpcGoesUpdate.log">
                    <filter type="System.Diagnostics.EventTypeFilter" initializeData="Verbose"/>
                    <!-- Error, Warning, Information, Verbose -->
                </add>
            </listeners>
        </trace>
    </system.diagnostics>
    <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
