<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SwpcAceUpdate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SwpcAceUpdate.Properties.Settings>
            <setting name="RepositoryFile" serializeAs="String">
                <value>repository\ace.h5</value>
            </setting>
            <setting name="HtInstrumentPath" serializeAs="String">
                <value>/swpc/ace/Ht</value>
            </setting>
            <setting name="UserAgent" serializeAs="String">
                <value>Mozilla/5.0 (Windows; U; Windows NT 6.1; en-US; rv:1.9.1.5) Gecko/20091106 Shiretoko/3.5.5</value>
            </setting>
            <setting name="Hdf5CorkTheCache" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Hdf5MaxReadBufferBytes" serializeAs="String">
                <value>1048576</value>
            </setting>
            <setting name="DownloadTimeout" serializeAs="String">
                <value>180000</value>
            </setting>
            <setting name="PdInstrumentPath" serializeAs="String">
                <value>/swpc/ace/Pd</value>
            </setting>
            <setting name="DownloadFolder" serializeAs="String">
                <value>downloads\swpc\ace\</value>
            </setting>
            <setting name="DownloadOnly1mHt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownloadOnly1mPd" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownloadOnly1mPs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownloadOnly1mPt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PsInstrumentPath" serializeAs="String">
                <value>/swpc/ace/Ps</value>
            </setting>
            <setting name="PtInstrumentPath" serializeAs="String">
                <value>/swpc/ace/Pt</value>
            </setting>
            <setting name="P10InstrumentPath" serializeAs="String">
                <value>/swpc/ace/P10</value>
            </setting>
            <setting name="P30InstrumentPath" serializeAs="String">
                <value>/swpc/ace/P30</value>
            </setting>
            <setting name="DownloadOnly1hHt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownloadOnly1hPd" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownloadOnly1hPs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownloadOnly1hPt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownloadOnly1hP10" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownloadOnly1hP30" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownloadOnly5mP10" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownloadOnly5mP30" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DaysBackMag1m" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="DaysBackSis5m" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="DaysBackEpam5m" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="DaysBackSwepam1m" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="MonthsBackMag1h" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="MonthsBackSis1h" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="MonthsBackEpam1h" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="MonthsBackSwepam1h" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="MonthsBackLoc1h" serializeAs="String">
                <value>11</value>
            </setting>
        </SwpcAceUpdate.Properties.Settings>
    </applicationSettings>
    <system.diagnostics>
        <trace autoflush="true" indentsize="0">
            <listeners>
                <!-- traceOutputOptions="ProcessId, ThreadId, DateTime, Timestamp, LogicalOperationStack, Callstack" -->
                <add name="txtListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="SwpcAceUpdate.log">
                    <filter type="System.Diagnostics.EventTypeFilter" initializeData="Verbose"/>
                    <!-- Error, Warning, Information, Verbose -->
                </add>
            </listeners>
        </trace>
    </system.diagnostics>
    <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
