<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="mbdt.RannForexDownload.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <mbdt.RannForexDownload.Properties.Settings>
            <setting name="DownloadTimeout" serializeAs="String">
                <value>180000</value>
            </setting>
            <setting name="DownloadDir" serializeAs="String">
                <value>downloads\RannForex</value>
            </setting>
            <setting name="DownloadOverwriteExisting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownloadRetries" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="DownloadPasses" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="Symbols" serializeAs="String">
                <value>DJI30;ASX200;CAC40;DAX30;JP225;NQ100;SP500;STX50;UK100</value>
            </setting>
            <setting name="StartDate" serializeAs="String">
                <value />
            </setting>
            <setting name="UserAgent" serializeAs="String">
                <value>Mozilla/5.0 (Windows; U; Windows NT 6.1; en-US; rv:1.9.1.5) Gecko/20091106 Shiretoko/3.5.5</value>
            </setting>
            <setting name="DebugTraceLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Referer" serializeAs="String">
                <value>https://rannforex.com</value>
            </setting>
            <setting name="DaysBack" serializeAs="String">
                <value>5</value>
            </setting>
        </mbdt.RannForexDownload.Properties.Settings>
    </applicationSettings>
    <system.diagnostics>
        <trace autoflush="true" indentsize="0">
            <listeners>
                <!-- traceOutputOptions="ProcessId, ThreadId, DateTime, Timestamp, LogicalOperationStack, Callstack" -->
                <add name="txtListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="RannForexDownload.log">
                    <filter type="System.Diagnostics.EventTypeFilter" initializeData="Verbose"/>
                    <!-- Error, Warning, Information, Verbose -->
                </add>
            </listeners>
        </trace>
    </system.diagnostics>
<!-- value>2004/12/21</value -->
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
