<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="mbdt.LiffeUpdate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <mbdt.LiffeUpdate.Properties.Settings>
            <setting name="DownloadTimeout" serializeAs="String">
                <value>180000</value>
            </setting>
            <setting name="RepositoryPath" serializeAs="String">
                <value>repository\liffe</value>
            </setting>
            <setting name="DownloadDir" serializeAs="String">
                <value>downloads\liffe</value>
            </setting>
            <setting name="DownloadOverwriteExisting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownloadRetries" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="DownloadPasses" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="DownloadLookbackDays" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="WorkerThreadDelayMilliseconds" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="StartDate" serializeAs="String">
                <value/>
            </setting>
            <setting name="UserAgent" serializeAs="String">
                <value>Mozilla/5.0 (Windows; U; Windows NT 5.1; en-US; rv:1.9.2.12) Gecko/20101026 Firefox/3.6.12 (.NET CLR 3.5.30729)</value>
            </setting>
            <setting name="ImportCandles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DebugTraceLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CorkTheCache" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlwaysCloseFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Referer" serializeAs="String">
                <value>http://www.liffe.com/reports/eod/eod?item=Histories</value>
            </setting>
            <setting name="DownloadKeepAlive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SleepBeforeDownloadMin" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SleepBeforeDownloadMax" serializeAs="String">
                <value>100</value>
            </setting>
        </mbdt.LiffeUpdate.Properties.Settings>
    </applicationSettings>
    <system.diagnostics>
        <trace autoflush="true" indentsize="0">
            <listeners>
                <!-- traceOutputOptions="ProcessId, ThreadId, DateTime, Timestamp, LogicalOperationStack, Callstack" -->
                <add name="txtListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="LiffeUpdate.log">
                    <filter type="System.Diagnostics.EventTypeFilter" initializeData="Verbose"/>
                    <!-- Error, Warning, Information, Verbose -->
                </add>
            </listeners>
        </trace>
    </system.diagnostics>
<!-- value>2004/12/21</value -->
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
